#####################################################
#
# List of approvers for caikit/website repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @caikit/caikit-doc-maintainers
